.log_form{
    padding: .6rem;
    .show{
        margin-left: .5rem;
    }
    .hide{
        display: none;
        margin-left: .5rem;
    }
    img{
        width: .45rem;
        height: .49rem;
    }
    label{
        width: auto;
       
    }
    .mui-input-row{
        height: 1rem;
        display: flex;
        align-items: center;
    }
    .mui-input-password,.mui-input-clear{
        float: none;
    }
    .mui-btn{
      display: block;
      width: 100%;
      padding: 15px 0;
      margin-top: .8rem;
    }
  }
  input{
      font-size: .32rem !important;
      color: #999;
  }
  #code{
      width: 1.6rem;
      height: .68rem;
        background-color: #b96714;
        color:#ffffff;
        font-size: .24rem;
        border-radius: .1rem;
        border: none;
  }
  #btn{
      background-color: #b96714;
      border:1px solid #b96714;
  }
  .zhuche{
      margin-top: .6rem;
      
      font-size: .28rem;
      color:#b96714;
      float: right;
  }
//   取消边框线
.mui-input-group:after,.mui-input-group:before{
    background-color: #fff !important;
}
