
.view{
    padding: 0 .2rem;
    .messige{
        margin: .4rem 0;
        .s1{
            font-size: .32rem;
            color:#333;
        }
        .s2{
            font-size: .24rem;
            color: #999;
            margin-left: .22rem;;
        }
    }
    .from{
        display: flex;
        align-items: center;
        margin-bottom: .5rem;
        .from-l{
            flex:1;
            font-size: .28rem;
        }
        .from-r{
            display: flex;
            flex: 4;
            font-size: .28rem;
            padding-left: .2rem;

            input{
                width: 2.4rem;
                border: none;
                font-size: .28rem;
                padding: 0;
                margin:0;
                &:before{
                    color: #b96714;
                    font-size: .32rem;
                    top: .10rem;
                    position: absolute;
                }
            }
            .phone{
                padding-left: .2rem;
            }
        }
       
    }
}
.kong{
    height: .2rem;
    background-color:#f8f8f8;
}
.goods{
    padding: 0 .2rem;
    .title{
        margin:.4rem 0;
        font-size: .32rem;
        color:#333;
    }
    .picbox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: .3rem;
        border-bottom: 1px solid #e3e3e3;
        .photo{
            
            display: flex;
            align-items: center;
            img{
                width: .8rem;
                height: .8rem;
            }
            span{
                margin-left:.2rem;
            }
        }
        .pic{
           font-size: .28rem;
           color:#f03b3b;
        }
    }
    .wxpay {
        color: #0094ff;
        padding: .3rem 0;

        label {
            display: flex;
            align-items: center;
           .s1{
               margin-left: .4rem;
               margin-right: .2rem;
               font-size: .28rem;
               color:#333;
           }
           .s2{
               font-size: .24rem;
               color:#999;
           }
        }
        input{
            top:.6rem !important;
           &:before{
            color:#41af35 !important;
            font-size: .4rem;
           }
        }
        img {
            width: .60rem;
            height: .54rem;
        }
    }
}
.zhifu{
    background-color: #f8f8f8;
    padding: .5rem 0;
    .submit{
            margin: 0 auto;
            display:block;
            width: 6.7rem;
            height: .88rem;
            background-color: #b96714;
            border-radius: .1rem;
            color:#fff;
            font-size: .32rem;
            text-align: center;
            line-height: .88rem;
            margin-bottom: .24rem;
        
    }
}
#quhao{
    display: flex;
    justify-content: center;
    align-items: center;
}
//区号弹出框
.disno{
    display: none !important;
}
.bj{
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.3) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    .region{
        width: 6.64rem;
        height: 6.96rem;
        background-color: #fff;
        border-radius: .2rem;
       
        .title{
            margin: .3rem 0;
            text-align: center;
            font-size: .32rem;
            color:#b96714;
        }
        .select{
            overflow: auto;
            height: 5.9rem;
            ul{
                padding: 0 .4rem;
               
                li{
                    display: flex;
                    justify-content: space-between;
                    font-size: .26rem;
                    color: #333;
                    border-bottom: 1px solid #d7d7d7;
                    padding: .3rem 0;
                }
                li:last-child{
                    border: none;
                }
            }
        }
    }
}