.view {
  padding: 0 .2rem;
}

.view .messige {
  margin: .4rem 0;
}

.view .messige .s1 {
  font-size: .32rem;
  color: #333;
}

.view .messige .s2 {
  font-size: .24rem;
  color: #999;
  margin-left: .22rem;
}

.view .from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .5rem;
}

.view .from .from-l {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: .28rem;
}

.view .from .from-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  font-size: .28rem;
  padding-left: .2rem;
}

.view .from .from-r input {
  width: 2.4rem;
  border: none;
  font-size: .28rem;
  padding: 0;
  margin: 0;
}

.view .from .from-r input:before {
  color: #b96714;
  font-size: .32rem;
  top: .10rem;
  position: absolute;
}

.view .from .from-r .phone {
  padding-left: .2rem;
}

.kong {
  height: .2rem;
  background-color: #f8f8f8;
}

.goods {
  padding: 0 .2rem;
}

.goods .title {
  margin: .4rem 0;
  font-size: .32rem;
  color: #333;
}

.goods .picbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: .3rem;
  border-bottom: 1px solid #e3e3e3;
}

.goods .picbox .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goods .picbox .photo img {
  width: .8rem;
  height: .8rem;
}

.goods .picbox .photo span {
  margin-left: .2rem;
}

.goods .picbox .pic {
  font-size: .28rem;
  color: #f03b3b;
}

.goods .wxpay {
  color: #0094ff;
  padding: .3rem 0;
}

.goods .wxpay label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goods .wxpay label .s1 {
  margin-left: .4rem;
  margin-right: .2rem;
  font-size: .28rem;
  color: #333;
}

.goods .wxpay label .s2 {
  font-size: .24rem;
  color: #999;
}

.goods .wxpay input {
  top: .6rem !important;
}

.goods .wxpay input:before {
  color: #41af35 !important;
  font-size: .4rem;
}

.goods .wxpay img {
  width: .60rem;
  height: .54rem;
}

.zhifu {
  background-color: #f8f8f8;
  padding: .5rem 0;
}

.zhifu .submit {
  margin: 0 auto;
  display: block;
  width: 6.7rem;
  height: .88rem;
  background-color: #b96714;
  border-radius: .1rem;
  color: #fff;
  font-size: .32rem;
  text-align: center;
  line-height: .88rem;
  margin-bottom: .24rem;
}

#quhao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.disno {
  display: none !important;
}

.bj {
  position: fixed;
  z-index: 998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bj .region {
  width: 6.64rem;
  height: 6.96rem;
  background-color: #fff;
  border-radius: .2rem;
}

.bj .region .title {
  margin: .3rem 0;
  text-align: center;
  font-size: .32rem;
  color: #b96714;
}

.bj .region .select {
  overflow: auto;
  height: 5.9rem;
}

.bj .region .select ul {
  padding: 0 .4rem;
}

.bj .region .select ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .26rem;
  color: #333;
  border-bottom: 1px solid #d7d7d7;
  padding: .3rem 0;
}

.bj .region .select ul li:last-child {
  border: none;
}
/*# sourceMappingURL=againpay.css.map */