.box {
    padding: 0 .2rem;

    .head {
        padding: .4rem 0;
        border-bottom: 2px solid #d7d7d7;

        .imgbox {
            float: left;
            width: 1.2rem;
            height: 1.2rem;

        }

        .title {
            float: left;
            display: flex;
            margin-left: .4rem;
            ;
            flex-direction: column;

            span:nth-child(1) {
                margin-top: .2rem;
                font-size: .28rem;
                color: #333;
            }

            span:nth-child(2) {
                margin-top: .3rem;
                font-size: .26rem;
                color: #666;
            }
        }
    }

    .gift {
        padding-bottom: .40rem;
        ;
        display: flex;
        flex-wrap: wrap;

        .imgbox {
            display: flex;
            flex-direction: column;
            width: 1.26rem;
            align-items: center;
            margin-top: .4rem;
            margin-right: .56rem;
            img {
                width: 1.26rem;
                width: 1.31rem;
                border-radius: .12rem;
                ;
                border: 3px solid #fff;
            }

            span {
                text-align: center;
            }

            .s1 {
                font-size: .28rem;
                color: #e79712;
                margin-top: .2rem;
            }

            .s2 {
                font-size: .22rem;
                color: #f03b3b;
                margin-top: .1rem;
            }
        }
      
    }
}
.imgbox:nth-child(4n){
    margin-right: 0 !important;
}
.pay {
    padding: 0 .2rem;

    .type {
        padding: .4rem 0;
        font-size: .32rem;
        color: #333;
        border-bottom: 2px solid #d7d7d7;
    }

    .wxpay {
        color: #0094ff;
        padding: .4rem 0;

        label {
            display: flex;
            align-items: center;
           .s1{
               margin-left: .4rem;
               margin-right: .2rem;
               font-size: .28rem;
               color:#333;
           }
           .s2{
               font-size: .24rem;
               color:#999;
           }
        }
        input{
            top:.6rem !important;
           &:before{
            color:#41af35 !important;
            font-size: .4rem;
           }
        }
        img {
            width: .60rem;
            height: .54rem;
        }
    }
}
.zhifu{
    background-color:#f8f8f8;
    padding-top: .8rem;
    .submit{
        margin: 0 auto;
        display:block;
        width: 6.7rem;
        height: .88rem;
        background-color: #b96714;
        border-radius: .1rem;
        color:#fff;
        font-size: .32rem;
        text-align: center;
        line-height: .88rem;
        margin-bottom: .24rem;
    }
}
.kong {
    height: .2rem;
    background-color: #f8f8f8;
    width: 100%;
}

.link {
    border: 3px solid #ffa002 !important;
}